/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.btAccordion {
	-fx-background-color: #E3E3E3;
	-fx-border-color: #939393;
}

.btIncluirPequeno {
	-fx-background-image: url(../application/imagens/1419962362_plus.png);	
	-fx-background-size: 20.0 20.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-width: 0.0;
}

.btIncluir {
    -fx-graphic: url(../application/imagens/1419962112_plus.png);
}

.btProcurarPrequeno {
	-fx-background-image: url(../application/imagens/1419962733_search.png);	
	-fx-background-size: 16.0 16.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;	
    -fx-border-width: 0.0;
}

.btProcurar {
    -fx-graphic: url(../application/imagens/1419962877_search.png);
}

/* Testes styles */

.root {
	-fx-background-color: #C0ECF0;
}

.table-view {
    -fx-base: rgb(244, 253, 252);
    -fx-control-inner-background: rgb(244, 253, 252);
}

.column-header, .table-view .column-header-background {
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
    -fx-border-color: linear-gradient(#61a2b1, #2A5058); 
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

.column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";	
}

.label {
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
}

.button:hover, .button:focused  {
    -fx-background-color: #395bae;
    -fx-color: #395bae;
}

.main-panel {
    -fx-background-image: url("../application/imagens/fundo001.jpg");
}

.combo-box, .text-field {
	-fx-background-color: white;
	-fx-border-color: white;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.combo-box:hover, .text-field:hover {
	-fx-border-width: 2;
    -fx-border-color: #C0ECF0
}

.combo-box:focused, .text-field:focused{
    -fx-border-width: 2;
    -fx-border-color: #2A5058;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

.menu-button {
	-fx-background-color: #C0ECF0;
	-fx-border-color: #84E7F0;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.titled-pane {
	-fx-color: #C0ECF0 ;
	-fx-background-color: #C0ECF0 ;
	-fx-border-color: #84E7F0;
	-fx-border-width: 1 1 1 1;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;	
}

.titled-pane > .title:hover {
-fx-background-color: -fx-box-border, -fx-inner-border, #C0ECF0;
-fx-background-insets: 0, 1, 2;
}

#fundo_accordion {
	-fx-background-color: #C0ECF0;
}